@charset "utf-8";
/* CSS Document */

body{ font-family:"Microsoft YaHei", Arial, sans-serif; font-size:14px; line-height:24px; color:#333; background:#fff; word-break:break-all;}
a{ text-decoration:none; color:#333;}
*{ list-style:none; margin:0; border:none; outline:none; padding:0;}
.fl{ float:left;}
.fr{ float:right;}
.ov{ overflow:hidden;}
img {width: 100%;}
.dis{ display:block !important;}
.dn{ display:none;}
.clear{ clear:both;}
div {box-sizing: border-box;}
.mt38{margin-top: 38px !important;;}

.swiper-wrapper{ position:relative; width:100%; height:100%; z-index:1; display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-transition-property:-webkit-transform; -moz-transition-property:-moz-transform; -o-transition-property:-o-transform; -ms-transition-property:-ms-transform; transition-property:transform; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box;}
.swiper-container-android .swiper-slide, .swiper-wrapper{ -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -o-transform:translate(0,0); -ms-transform:translate3d(0,0,0); transform:translate3d(0,0,0);}
.swiper-slide{ display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; -webkit-flex-shrink:0; -ms-flex:0 0 auto; flex-shrink:0; width:100%; height:100%; position:relative;}
.swiper-slide a{width: 100%;display: block;}
.swiper-slide a img{width: 100%;}
.swiper-pagination{ -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s; transition:.3s; -webkit-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); transform:translate3d(0,0,0); z-index:10;}

/* 公共 */
.box { width: 100%; max-width: 1920px; min-width: 768px;background-color: #fff;padding: 0 0 0; box-sizing: border-box;}
.lwdth { width: calc(100% - 200px); }
.wdth { width: 200px;}

/* header */
.header {height: 80px; background-color: #fff;padding: 38px 20px 0; margin-bottom: 20px;}
.header > .header-l { width: 220px;margin-top: 4px;}
.header > .header-l img{ width: 180px;}
.header > .header-r { width: calc(100% - 220px); height: 100%; border-bottom: 1px solid #ccc;}
.header > .header-r .fl {font-family: 'ali-Light';}
.header > .header-r .fr {font-family: 'ali-Bold';}
.header > .header-r .line {margin-top: 7px;margin-left: 20px;}
.header > .header-r .line span{display: block;width: 24px; height: 1px;background-color: #6B6B6B;margin-bottom: 4px;}
/* banner */
.banner { width: calc(100% - 260px); margin-left: 240px;margin-bottom: 40px;}

/* service */
.service { padding:0 20px 0 240px; margin-top: 20px;}
.service-t { font-size: 36px; font-family: 'ali-Bold';border-bottom: 1px solid #ccc; padding: 10px 0 30px;}
.service-list {overflow: hidden;margin: 90px 0;position: relative;}
.service-list .service-img {width: 66%; display: inline-block;vertical-align: bottom;}
.service-list .title {width: 33%;padding-left: 5%; display:  inline-block; vertical-align: middle;vertical-align: bottom;}
.service-list .title.pr5 {padding-right: 5%;}
.service-list .title.mb20 {margin-bottom: 30px;padding-right: 5%;}
.service-list .title span {display: block; font-family: 'ali-Bold';font-size: 22px;}
.service-list .title a {font-size: 16px;font-family: 'ali-Regular';text-decoration: underline;color: #9D9E9D;}
.service-list .title a:hover {color: #FF3308;font-family: 'ali-Bold';}
.service-list.service-left .title {text-align: right; margin-right: 1%;}
.service-list.service-left .service-img {text-align: right; width: 65%;}

/* footer */
.footer {width: calc(100% - 40px);margin: 0 auto; padding: 30px 0; border-top: 1px solid #000;}
.footer > div{width: 100%;}
.footer a{display: block;font-size: 30px;font-family: 'ali-Bold';height: 36px;line-height: 36px;margin-bottom: 1px;}
.footer > div .fl a:first-child {margin-top: 20px;}
.footer > div:first-child{margin-bottom: 39px;}
.footer > div .fl{width: 180px;}
.footer > div .fr{width: 168px;}

/* copy */
.copy {width: calc(100% - 40px);margin: 0 auto; padding: 22px 0 60px; border-top: 1px solid #000;}
.copy .fl {font-size: 15px;font-family: 'ali-Bold';}
.copy .fr {margin-left: 30px;text-align: right;font-family: 'ali-Light';}
.copy .fr span{display: block;line-height: 20px;}
.copy .fr a{color: #000;}

/* 主图 */
.main-i {width: calc(100% - 220px);margin-left: 220px; padding: 0 20px 0}

/* service-list */
.date {width: calc(100% - 40px);margin: 0 auto; padding: 30px 0 60px 220px;}
.date-t { font-size: 16px; font-weight: 600;margin-bottom: 20px; border-bottom: 1px solid #ccc; padding: 10px 0 10px;}
.date-list {width: 60%;margin-left: 40%; display: flex;flex-wrap: wrap;justify-content: space-between;;}
.date-list > div {width: 30%;margin-bottom: 20px}
.date-list > div img {width: 100%;}

/* detail */
.detail {width: calc(100% - 40px);margin: 0 auto; padding: 30px 0 60px 220px;}
.detail-l {width: 50%;float: left;}
.detail-r {width: 50%;float: right;}

/* list-img" */
.list-img {width: calc(100% - 20px);margin: 0 0 0 20px; padding: 30px 0 60px 220px;}
.img-list {width: calc(100% - 180px);background-color: #eee;overflow: scroll;}
.img-list div {width: 2000px;}
.img-list > div > div {width: 200px; display: inline-block;}
.img-list > div > div:not(1) {margin-left: 2%;}