
@font-face {
  font-family: 'ali-Light';
  font-display: swap;
  src: url('../font/Light/webfont.eot'); /* IE9 */
  src: url('../font/Light/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/Light/webfont.woff2') format('woff2'),
  url('../font/Light/webfont.woff') format('woff'), /* chrome、firefox */
  url('../font/Light/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/Light/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'ali-Heavy';
  font-display: swap;
  src: url('../font/Heavy/webfont.eot'); /* IE9 */
  src: url('../font/Heavy/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/Heavy/webfont.woff2') format('woff2'),
  url('../font/Heavy/webfont.woff') format('woff'), /* chrome、firefox */
  url('../font/Heavy/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/Heavy/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'ali-Medium';
  font-display: swap;
  src: url('../font/Medium/webfont.eot'); /* IE9 */
  src: url('../font/Medium/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/Medium/webfont.woff2') format('woff2'),
  url('../font/Medium/webfont.woff') format('woff'), /* chrome、firefox */
  url('../font/Medium/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/Medium/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'ali-Bold';
  font-display: swap;
  src: url('../font/Bold/webfont.eot'); /* IE9 */
  src: url('../font/Bold/webfont.eot'); /* IE9 */
  src: url('../font/Bold/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/Bold/webfont.woff2') format('woff2'),
  url('../font/Bold/webfont.woff') format('woff'), /* chrome、firefox */
  url('../font/Bold/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/Bold/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
@font-face {
  font-family: 'ali-Regular';
  font-display: swap;
  src: url('../font/Regular/webfont.eot'); /* IE9 */
  src: url('../font/Regular/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/Regular/webfont.woff2') format('woff2'),
  url('../font/Regular/webfont.woff') format('woff'), /* chrome、firefox */
  url('../font/Regular/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../font/Regular/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

