@charset "utf-8";
/* CSS Document */

body{ font-family:"Microsoft YaHei", Arial, sans-serif; font-size:14px; line-height:24px; color:#333; background:#fff; word-break:break-all;}
a{ text-decoration:none; color:#333;}
*{ list-style:none; margin:0; border:none; outline:none; padding:0;}
.fl{ float:left;}
.fr{ float:right;}
.ov{ overflow:hidden;}
img {width: 100%;}
.dis{ display:block !important;}
.dn{ display:none;}
.clear{ clear:both;}
div {box-sizing: border-box;}
